---
const { pathname, origin } = Astro.url;
---

<div
  class="uppercase flex flex-row justify-center flex-wrap gap-4 lg:gap-6 xl:gap-8 mb-8 lg:mb-16 text-lg lg:text-xl"
>
  <a
    href={pathname.includes("friday") ? null : `/schedule/friday`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("friday") ? "cursor-default bg-amber-100" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">Friday</div>
    <div class="text-sm lg:text-base">Sep 27</div>
  </a>
  <a
    href={pathname.includes("saturday") ? null : `/schedule/saturday`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("saturday") ? "cursor-default bg-amber-100" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">Saturday</div>
    <div class="text-sm lg:text-base">Sep 28</div>
  </a>
  <a
    href={pathname.includes("sunday") ? null : `/schedule/sunday`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("sunday") ? "cursor-default bg-amber-100" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">Sunday</div>
    <div class="text-sm lg:text-base">Sep 29</div>
  </a>
  <a
    href={pathname.includes("rooms") ? null : `/schedule/rooms`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("rooms") ? "cursor-default bg-neutral-200" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">
      Event Rooms
    </div>
    <div class="text-sm lg:text-base whitespace-nowrap">
      Sep 26 &ndash; Sep 29
    </div>
  </a>
  <a
    href={pathname.includes("agenda") ? null : `/schedule/agenda`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("agenda") ? "cursor-default bg-neutral-200" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">All Panels</div>
    <div class="text-sm lg:text-base whitespace-nowrap">
      Sep 27 &ndash; Sep 29
    </div>
  </a>
  <a
    href={pathname.includes("events") ? null : `/schedule/events`}
    class={`w-[calc(33.33333%-1rem)] lg:w-40 duration-300 ${pathname.includes("events") ? "cursor-default bg-neutral-200" : "cursor-pointer bg-[#fcf1e0] hover:bg-amber-100  hover:scale-[1.05] hover:-rotate-1"} lg:px-4 lg:py-2 px-2 py-1 text-center rounded flex flex-col justify-center`}
    style="filter: drop-shadow(0 5px 5px #000); "
  >
    <div class="font-bold whitespace-nowrap text-sm lg:text-lg">All Events</div>
    <div class="text-sm lg:text-base whitespace-nowrap">
      Sep 26 &ndash; Oct 1
    </div>
  </a>
</div>
