---
import Layout from "@layouts/Layout.astro";
import Splash from "@components/Splash.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Mare Fair 2024">
  <section
    class="overflow-hidden flex flex-col items-center justify-center"
  >
    <Splash />
  </section>
  <Footer />
</Layout>
