<section class="vintage-background">
  <div class="postcard"></div>
</section>

<style>
  .vintage-background {
    background-image: url("../assets/brown-wooden-flooring.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .postcard {
    /* background-color: white; */
    transform: rotate(10deg);
    background-image: url("../assets/fair_flyer_postcard.png");
    width: 400px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Additional styles for your postcards */
  }
</style>
