<footer
  class="cursor-default md:px-56 relative flex md:flex-row flex-col justify-center md:gap-0 gap-10 md:justify-between items-center h-40 md:h-12 bg-black text-white z-50"
>
  <a
    href="/coc"
    class="hover:underline underline-offset-4 flex items-center relative gap-10 sm:grid-cols-4 font-medium text-xs tracking-wide"
  >
    Code of Conduct
  </a>
  <a
    href="https://snowpity.org"
    class="hover:underline underline-offset-4 flex items-center relative gap-8 sm:grid-cols-4 font-medium text-xs tracking-wide"
  >
    © 2024 Snowpity, Inc.
  </a>
</footer>
