---
import { Image } from "astro:assets";
import musicians from "@assets/!MUSICIAN-mimosa-ashtoneer.png";
---

<div
  class="lanyard hover:scale-[1.1] cursor-pointer duration-500 magic hover:-rotate-6 -rotate-3 flex items-center justify-center p-4 w-72 h-48 md:w-120 md:h-80 bg-purple-200 rounded-lg"
>
  <Image
    alt="Musicians"
    format="avif"
    src={musicians}
    width={800}
    class="h-40 md:h-72 w-auto"
  />
  <div
    class="tracking-wide drop-shadow-[0_0.4vh_0.4vh_rgba(0,0,0,0.8)] text-2xl md:text-6xl text-center absolute left-[0.5rem] top-[0.5rem] md:left-[0.5rem] md:top-[0.5rem] text-white"
  >
    <span class="">MARE</span><br /><span class="">FAIR</span><br /><span
      class="">2024</span
    >
  </div>
  <div
    class="rotate-90 drop-shadow-[0_0.4vh_0.4vh_rgba(0,0,0,0.8)] text-lg md:text-4xl text-center absolute right-[-1.5rem] top-[3rem] md:right-[-3rem] md:top-[5rem] text-white tracking-wide"
  >
    Fairgoer
  </div>
  <div
    class="w-full h-2/5 absolute bottom-0 bg-white bg-opacity-80 rounded-b-lg"
  >
    <div
      class="h-full text-4xl md:text-6xl text-center text-black opacity-100 tracking-wide flex items-center justify-center"
    >
      Musicians
    </div>
  </div>
</div>
<style>
  .lanyard {
    filter: drop-shadow(0 5px 5px #000);
    font-family: "Saveur Sans Semibold";
  }
</style>
